.App {
  text-align: center;
  background-color: rgb(65, 62, 64);
height: 100%;
position: fixed;
width: 100%;
}
.center-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;  
}
.content-container {
  margin-top: 50px; /* Same as navbar height */
  /* margin-bottom: 1000px; */
}

/* Ensure html and body take full height */
html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Set the full height to the main container (App) */
#root, .App {
  height: 100%;
}
a{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration:none;
  color:azure;
}
.card{
 border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width:20vw;
    height: 200px;
    margin: 20px auto; /* Add margin to create spacing between cards */
    padding: 20px;
    display: flex;
    left:50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}
.p-dialog .p-dialog-content{
  background-color: rgb(47, 45, 45);
  text-align: center;
  color: aliceblue;
}
.p-dialog .p-dialog-footer{
  background-color: rgb(47, 45, 45);

}
.p-dialog .p-dialog-header .p-dialog-title{
  font-size:1rem;
}