/* Add this to your AddDress.css or global CSS */
.swal2-popup {
    z-index: 9999 !important;
    position: relative !important;
}

.swal2-container {
    z-index: 9999 !important;
}

.swal2-overlay {
    z-index: 9998 !important; /* Optional: Adjusts overlay to prevent interference */
}

#pr_id_3_content {
    background-color: rgb(47, 45, 45);
}

.addSize {
    background-color: rgb(213, 1, 118);
    border-color: rgb(213, 1, 118);
}

.p-button.p-fileupload-choose.p-component {
    background-color: rgb(213, 1, 118);
}

.p-fileupload .p-fileupload-buttonbar .p-button {
    background-color: rgb(213, 1, 118);
    border-color: rgb(213, 1, 118);
}

.qty .p-inputnumber-input.p-inputtext.p-component.p-filled {
    width: 3.125%; /* 60px מתוך 1920px */
}

.size.p-component {
    width: 2.604%; /* 50px מתוך 1920px */
}

.cancelB {
    background-color: gray;
    color: rgb(213, 1, 118);
    border-color: rgb(213, 1, 118);
    margin-right: 0.104%; /* 2px מתוך 1920px */
}

.okB {
    background-color: rgb(213, 1, 118);
    color: gray;
    border-color: rgb(213, 1, 118);
    margin-left: 0.104%; /* 2px מתוך 1920px */
}

.buttonsD {
    text-align: center;
}

div.p-fileupload-content, div.p-fileupload-buttonbar {
    background: lightgray;
}

.p-inputtext {
    background: lightgray;
}

.kind {
    background: lightgray;
}

.delSize.p-button-icon.p-c.pi.pi-trash::before {
    color: blueviolet;
}
