
.qty .p-inputnumber-input.p-inputtext.p-component.p-filled {
    width: 3.125%; /* 60px מתוך 1920px */
}

.addSize {
    background-color: rgb(213, 1, 118);
    border-color: rgb(213, 1, 118);
}
.size.p-component {
    width: 2.604%; /* 50px מתוך 1920px */
}

.cancelB {
    background-color: gray;
    color: rgb(213, 1, 118);
    border-color: rgb(213, 1, 118);
    margin-right: 0.104%; /* 2px מתוך 1920px */
}

.okB {
    background-color: rgb(213, 1, 118);
    color: gray;
    border-color: rgb(213, 1, 118);
    margin-left: 0.104%; /* 2px מתוך 1920px */
}


div.p-fileupload-content, div.p-fileupload-buttonbar {
    background: lightgray;
}

.p-inputtext {
    background: lightgray;
}

.kind {
    background: lightgray;
}

.delSize.p-button-icon.p-c.pi.pi-trash::before {
    color: blueviolet;
}

.p-dialog .p-dialog-header #pr_id_14_header{
    width: 500px;
    background-color: chartreuse;
}

    .p-dialog .p-dialog-content#pr_id_14_content{
        width: 500px;
    }

    #pr_id_14.p-dialog .p-dialog-header{
        width: 500px;
        background-color: chartreuse;
    }
    #pr_id_22.p-dialog .p-dialog-header{
        width: 500px;
        background-color: chartreuse;
    }
        .p-dialog .p-dialog-content#pr_id_22_content{
            width: 500px;
        }


@media (max-width: 500px) {

    .p-dialog .p-dialog-header #pr_id_14_header{
        width: 400px;
        background-color: chartreuse;
        margin-right: 0px;
    }
    
        .p-dialog .p-dialog-content#pr_id_14_content{
            width: 400px;
        }
    
        #pr_id_14.p-dialog .p-dialog-header{
            width: 400px;
            background-color: chartreuse;
        }
        #pr_id_22.p-dialog .p-dialog-header{
            width: 400px;
            background-color: chartreuse;
        }
            .p-dialog .p-dialog-content#pr_id_22_content{
                width: 400px;
            }
            #pr_id_14{
            width: 50vw; margin: 0; position: fixed; left: 9px; top: 32.7625px;
    }


}

@media (min-width: 500px) and (max-width: 600px) {

    .p-dialog .p-dialog-header #pr_id_14_header{
        width: 400px;
        background-color: chartreuse;
    }
    
        .p-dialog .p-dialog-content#pr_id_14_content{
            width: 400px;
        }
    
        #pr_id_14.p-dialog .p-dialog-header{
            width: 400px;
            background-color: chartreuse;
        }
        #pr_id_22.p-dialog .p-dialog-header{
            width: 400px;
            background-color: chartreuse;
        }
            .p-dialog .p-dialog-content#pr_id_22_content{
                width: 400px;
            }
            #pr_id_14{
            width: 50vw; margin-right: 30px; position: fixed; left: 9px; top: 32.7625px;
    }


}
