/* RentedDressesList.css */

/* רקע כללי */
body {
    background-color: #333333; /* רקע אפור כהה */
    color: #FFFFFF; /* טקסט כללי בלבן */
  }
  
  h2 {
    color: #A7D8D9; /* כותרת בצבע תכלת טורקיזי */
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    background-color: #4A4A4A; /* רקע אפור כהה בשדה החיפוש */
    color: #A7D8D9; /* טקסט בשדה החיפוש בצבע תכלת טורקיזי */
    border: 1px solid #A7D8D9; /* מסגרת בצבע תכלת טורקיזי */
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
  }
  
  button {
    background-color: #ec4881; /* רקע ורוד עדין לכפתורים */
    color: #333333; /* טקסט בכפתורים בצבע אפור כהה */
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #D7A1B0; /* ורוד כהה יותר בעת מעבר עם העכבר */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #A7D8D9; /* מסגרת תאים בצבע תכלת טורקיזי */
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #4A4A4A; /* רקע אפור כהה בתאי כותרת */
    color: #A7D8D9; /* טקסט בכותרת בצבע תכלת טורקיזי */
  }
  
  td {
    background-color: #585858; /* רקע אפור כהה בתאי נתונים */
    color: #FFFFFF; /* טקסט תאי נתונים בלבן */
  }
  
  td button {
    background-color: #ec4887; /* כפתור החזרת שמלה בצבע ורוד עדין */
    color: #333333;
  }
  
  td button:hover {
    background-color: #ec4887; /* גוון כהה יותר של ורוד */
  }
  