.dress-item {
  display: flex;
  flex-direction: column;
  gap: 4%; /* צמצום המרווח */
}

.dress-image {
  max-width: 80%; /* צמצום לרוחב קטן יותר */
  max-height: 30%; /* צמצום הגובה */
  object-fit: contain;
  border-radius: 5px;
}

.dress-info {
  text-align: center;
  position: relative;
  left: 5%; /* הזזה קטנה לימין */
}

.single-button {
  position: relative;
  left: 5%; /* הזזה קטנה לימין */
}

.image-background {
  background-color: rgba(128, 128, 128, 0.3); /* צבע אפור */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

div.p-mb-3.dress-item {
  background-color: rgb(74, 74, 74);
}

.dress-item .p-grid .p-col.dress-info {
  padding-top: 2%; /* צמצום המרווח למעלה */
}

.p-carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dress-item .p-grid .p-col.image-container img {
  max-width: 90%; /* צמצום לרוחב */
  max-height: 50%; /* צמצום לגובה */
  object-fit: contain;
  padding: 0px;
  display: block;
  margin: 0 auto;
}

.dress-item .p-grid .p-col.image-container {
  margin-bottom: 2%;
}

.image-container {
  width: 100%;
  height: 30%; /* צמצום הגובה */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

/* חיצים ב-carousel */
.p-carousel-prev,
.p-carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: rgb(0, 0, 0);
  width: 4%; /* צמצום הרוחב */
  height: 4%; /* צמצום הגובה */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* מיקום החיצים */
.p-carousel-prev {
  left: 2%;
}

.p-carousel-next {
  right: 2%;
}

/* אינדיקטורים carousel בתחתית התמונה */
.p-carousel-indicators {
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.carousel-indicators.p-carousel-indicators.p-reset {
  padding: 0.5%;
  background-color: rgba(37, 46, 46, 0.132);
}
