/* עיצוב כללי - ימין לשמאל */
.navbar-container {
    direction: rtl;
    background-color: rgba(83, 81, 81, 0.9); /* רקע אפור כהה עם שקיפות */
}

/* תפריט הניווט */
.p-menubar {
    direction: rtl;

    background-color: rgba(83, 81, 81, 0.9); /* רקע אפור כהה */
    border: none;
    display: flex;
    width: 100%; /* תפריט תופס את כל הרוחב */
    padding: 0;
}

/* כפתורים */
.p-menubar .p-menuitem {
    flex: 1; /* כל כפתור תופס שטח שווה */
    text-align: center; /* טקסט ממורכז */


}

/* עיצוב הכפתורים */
.p-menubar .p-menuitem-link {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content:space-around; 
    /* color: white !important; כיתוב לבן */
    font-weight: bold;
    font-size: 16px;
    height: 100%; /* תופס את כל הגובה */
    text-align: center;
    /* text-decoration: none; */
    background-color: transparent !important; /* ללא רקע */
    border: none; /* ללא גבולות */
}

/* אייקונים */
.p-menuitem-icon {
    color: rgb(213, 1, 118) !important; /* אייקון ורוד */
    margin-left: 10px; /* ריווח קל בין האייקון לכיתוב */
}
.p-menuitem-text {
    color: rgb(255, 255, 255) !important; /* אייקון ורוד */
    margin-left: 10px; /* ריווח קל בין האייקון לכיתוב */
}
