/* Ensure the card takes up the full viewport height */
.fullHeightCard {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Container for the content inside the card */
.fullHeightContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

/* Jewish date picker styling */
.react-jewish-date-picker {
    background-color: #ffffff;
    border: 2px solid rgba(213, 1, 118, 0.32f);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    font-family: 'Alef', sans-serif;
    font-size: 16px; /* Set font size to 16px instead of using vw */
}

/* Additional styling */
.react-jewish-date-picker table {
    width: 100%;
    border-collapse: collapse;
}

.react-jewish-date-picker th, 
.react-jewish-date-picker td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Set font size to 16px instead of using vw */
}

.react-jewish-date-picker th {
    background-color: rgba(213, 1, 118, 0.325);
    color: white;
}

.react-jewish-date-picker td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.react-jewish-date-picker td.selected {
    background-color: rgba(213, 1, 118, 0.325);
    color: white;
}

.react-jewish-date-picker td.disabled {
    background-color: #f5f5f5;
    color: #ccc;
}

.react-jewish-date-picker button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px; /* Set font size to 14px */
}

.react-jewish-date-picker button:hover {
    background-color: #218838;
}

.selectedDate {
    width: 200px;
    height: 50px;
    font-size: 18px; /* Set font size to 18px */
}

.reactJewishDatePicker .selectedDate {
    font-size: 16px; /* Set font size to 16px */
    padding-top: 12px;
    margin-top: 50px;
    margin-right: 20px;
    border: 2px solid rgb(213, 1, 118);
}

.reactJewishDatePicker .calendarIcon {
    font-size: 20px;
    position: absolute;
    right: 7px;
    top: 12px;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; /* Set font size to 20px */
    text-align: center;
}

.sectext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px; /* Set font size to 14px */
    text-align: center;
}

.p-carousel-next, .p-carousel-prev {
    display: flex;
    position: relative;
}

#cardid.pickDate.fullHeightCard {
    color: #ffffff;
}

svg.calendarIcon {
    color: rgb(213, 1, 118);
}

.reactJewishDatePicker .weekdayWrapper {
    background-color: rgb(213, 1, 118);
}

.reactJewishDatePicker .selectedDay {
    background-color: rgba(213, 1, 118, 0.325);
}

.sizeBut {
    background-color: rgb(213, 1, 118);
    border-color: rgb(213, 1, 118);
}

/* Adjust hover color for year list items */
.react-jewish-datepicker .year-list-item:hover {
    background-color: #f0c674 !important;
    color: #ffffff !important;
}

/* Adjust hover color for month list items */
.react-jewish-datepicker .month-list-item:hover {
    background-color: #f0c674 !important;
    color: #ffffff !important;
}
.sizesContainer{
    display: 'flex';
    flex-direction:'column';
    align-items: 'flex-start';
    gap: '10px';
    max-height: '200px'; 
    overflow-Y: 'auto';
   
    padding: '10px';}

.pi.pi-star-fill{
    color:rgb(213, 1, 118);    
}


#cardid.pickDate.fullHeightCard
{
    width: 70%;
    max-width: 700px;
    height:550px;
    margin-top:5px;
    background-color:#646464;
    z-index: 2;
}

@media (min-width: 500px) and (max-width: 600px) {
    #cardid.pickDate.fullHeightCard
{
    width: 90%;
}
}
@media (max-width: 500px) {
    #cardid.pickDate.fullHeightCard
{
    width: 100%;
}
}